body{
	background-image: url(bg.jpg);
	background-repeat: no-repeat;
	font-family: Arial black, sans-serif;
}

.modal{
	display: none;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter:blur(2px);
	background-color: rgba(0,0,0,0.3);
}

.content{
	border: 3px solid white;
	border-radius: 20px;
	width: 300px;
	background-color: white;
	margin: 50px auto;
	padding:0px 10px 10px 30px;
}

.btn{
	background-color: #6495ED;
	padding: 10px;
	border: 2px solid #6495ED; 
	border-radius: 5px;
	font-family: Arial black, sans-serif;
}

.btn:hover{
	background-color: #007FFF;
	border: 2px solid #007FFF;
}

.close{
	border:none;
	float: right;
	border-radius: 50px;
	font-weight: bold;
	margin-top: 10px;
}

.close:hover{
	background-color: red;
}

.btns{
	margin-top: 20px;
}


